<template>
  <div class="home">
    <div id="winamp" v-show="winamp"></div>
    <div class="container">
      <div class="shortcuts">
        <div class="icon" >
          <img src="../assets/images/myprofile.png"/>
          <div class="icon-name">My Profile</div>
        </div>
        <div class="icon" @click="openPlayer">
          <img src="../assets/images/winampp.png"/>
          <div class="icon-name">Winampp</div>
        </div>
      </div>
    </div>
    
  </div>
</template>

<script>
import dearGod from '../assets/music/deargod.mp3';
import Roulette from '../assets/music/roulette.mp3';
import Gabby from '../assets/music/gabby.mp3';

export default {
  name: 'HomeView',
  data() {
    return {
      winamp: false,
      dergod: dearGod,
      roulette: Roulette,
      gabby: Gabby
    }
  },
  methods: {
    openWinamp() {
      // eslint-disable-next-line
      if(!Webamp.browserIsSupported()) {
        alert("Oh no! Webamp does not work!")
        throw new Error("What's the point of anything?")
      }

      const app = document.getElementById("winamp")
      // eslint-disable-next-line
      const webamp = new Webamp({
        initialTracks: [
          {
            metaData: {
              artist: "Avenged Sevenfold",
              title: "Dear God",
            },
            url: this.dergod
          },
          {
            metaData: {
              artist: "Roulette",
              title: "Aku jatuh cinta",
            },
            url: this.roulette
          },
          {
            metaData: {
              artist: "Gabby",
              title: "Tinggal kenangan",
            },
            url: this.gabby
          },
        ],
        zIndex: 99999,
      });
      webamp.renderWhenReady(app);
      webamp.onClose(()=> {
        this.winamp = false;
      })
    },
    openPlayer() {
      this.winamp = true;
      this.openWinamp();
    },
    
  },
  
}
</script>

<style lang="scss" soped>
.home {
  background-image:url('../assets/images/xp-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  --imgw: 1391;
  --imgh: 2471;
  width: 100vw;
  #winamp {
    top: 30px;
  }
  .shortcuts {
    padding-top: 30px;
    display: inline-grid;
    .icon {
      margin-bottom: 15px;
      cursor: pointer;
      img {
        height: 50px;
      }
      .icon-name {
        color: #fff;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.58);
      }
    }
  }
}

</style>
