<template>
<div class="navbarBootom">
    <div class="title-bar title-bar-custom">
        <div class="title-bar-text logo">
            <div class="myButton logo-windows">
                <img src="../assets/images/xp-open.png">
                <div class="start">start</div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    name: 'NavbarBootom',

}
</script>
<style lang="scss" scoped>
.navbarBootom {
    .title-bar-custom {
        height: 30px!important;
        border-radius: 0px!important;
    }
    .logo {
        position: relative;
        width: 100%;
        &-windows {
            position: absolute;
            bottom: -18px;
            left: -4px;
            padding: 7px 24px 7px 10px !important;
            border-radius: 0px 12px 12px 0px;
            display: flex;
            img {
                height: 22px;
                margin-right: 5px;
            }
            .start {
                font-style: italic;
            }
        }
    }
}
.myButton {
	box-shadow:inset -1px -1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:5px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}

</style>