<template>
  <router-view/>
  <div class="bootom-page">
    <NavbarBottom />
  </div>
</template>

<script>
import NavbarBottom from './components/NavbarBottom.vue';

export default {
  name: "App",
  components: { 
    NavbarBottom 
  }
}
</script>

<style lang="scss">
.bootom-page {
  position: absolute;
  width: 100%;
  bottom: 0;
}
</style>
